@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:300|Staatliches&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:300i&display=swap');
body {
background-color: #66A8D1;
font-size: 24px;
color: #8F5902FF;
}
.profile-photo{
border-radius: 50%;
}
#introduction p {
margin-bottom: 40px;
padding: 40px;
}
h1, h2 {
font-family: 'Big Shoulders Text', 'helvetica', cursive;
color: #8F5902FF;
line-height: 1.5;
}
p {
font-family: 'Poppins', sans-serif;
font-size: 24px;
line-height: 1.3;
}
a {
text-decoration: none;
}
.blue-card-link{
color: #8F5902FF;
}
a:hover {
cursor: crosshair;
color: rgba(3,9,122,0.3);
}
footer {
display: inline-block;
}
.container {
width: 700px;
margin: 40px auto;
}
.middle-image {
border-radius: 30px;
}
.blue-card {
background-color: #A1B1F86A;
padding: 40px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 10px;
margin: 20px 0px;
text-align: center;
}
.brown-btn {
background-color: #C17D11FF;
color: #EEEEECFF;
padding: 15px 20px;
border-radius: 15px;
}
.list-inline {
list-style: none;
padding-left: 0px;
}
.list-inline li {
display: inline;
padding: 10px;
}
.list-inline i {
font-size: 50px;
color: #204A87FF;
}
.list-inline i:hover {
color: #8F5902FF;
}
.youtube-video {
border-radius: 10px;
}
@media (max-width: 960px) {
.container {
width: 700px;
}
}
@media (max-width: 720px) {
.container {
width: 500px;
}
}
